<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tech - Quản lý nhãn</title>
	<link href="../../../css/bootstrap.min.css" rel="stylesheet">
	<link href="../../../css/font-awesome.min.css" rel="stylesheet">
	<link href="../../../css/datepicker3.css" rel="stylesheet">
	<link href="../../../css/styles.css" rel="stylesheet">
	
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" href="/">Tech</a>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<a href="/account/profile"><img src="http://placehold.it/50/30a5ff/fff" class="img-responsive" alt=""></a>
			</div>
			{{#each this.user}}
			<div class="profile-usertitle">
				<div class="profile-usertitle-name"><a href="/account/profile">{{Name}}</a></div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			{{/each}}
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<ul class="nav menu">
			<li class="parent "><a data-toggle="collapse" href="#sub-item-1">
				<em class="fa fa-navicon">&nbsp;</em> Quản lý bài viết <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"></span>
				</a>
				<ul class="children collapse" id="sub-item-1">
					<li><a class="" href="/admin-posts/published">
						<span class="fa fa-pencil-square-o">&nbsp;</span> Bài viết đã xuất bản
					</a></li>
					<li><a class="" href="/admin-posts/draft">
						<span class="fa fa-pencil-square-o">&nbsp;</span> Bài viết chưa duyệt
					</a></li>
					<li><a class="" href="/admin-posts/wait">
						<span class="fa fa-pencil-square-o">&nbsp;</span> Bài viết chờ xuất bản
					</a></li>
					<li><a class="" href="/admin-posts/refuse">
						<span class="fa fa-pencil-square-o">&nbsp;</span> Bài viết bị từ chối
					</a></li>
				</ul>
			</li>
			<li><a href="/admin-categories"><em class="fa fa-cubes">&nbsp;</em> Quản lý chuyên mục</a></li>
			<li class="active"><a href="/admin-tags"><em class="fa fa-tags">&nbsp;</em> Quản lý nhãn</a></li>
			<li class="parent "><a data-toggle="collapse" href="#sub-item-2">
				<em class="fa fa-navicon">&nbsp;</em> Quản lý người dùng <span data-toggle="collapse" href="#sub-item-2" class="icon pull-right"></span>
				</a>
				<ul class="children collapse" id="sub-item-2">
					<li><a class="" href="/admin-users/admin">
						<span class="fa fa-users">&nbsp;</span> Admin
					</a></li>
					<li><a class="" href="/admin-users/editor">
						<span class="fa fa-users">&nbsp;</span> Editor
					</a></li>
					<li><a class="" href="/admin-users/subscriber">
						<span class="fa fa-users">&nbsp;</span> Subscriber
					</a></li>
					<li><a class="" href="/admin-users/writer">
						<span class="fa fa-users">&nbsp;</span> Writer
					</a></li>
				</ul>
			</li>
			<li><a href="javascript: $('#frmSignout').submit();"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
			<form id="frmSignout" action="/account/logout" method="POST"></form>
		</ul>
	</div><!--/.sidebar-->

	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
				<li class="active">Quản lý nhãn</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Quản lý nhãn</h1>
			</div>
		</div><!--/.row-->

		<div class="row">
			<!-- Viết tiếp nội dung ở đây -->
			<section id="actions" class="py-4 mb-4 bg-faded">
	            <div class="container">
	                <div class="row">
	                    <div class="col-md-4">
	                        <a href="/admin-tags/add" class="btn btn-primary btn-block">
	                            <i class="fa fa-plus"></i> Thêm nhãn
	                        </a>
	                    </div>
	                </div>
	            </div>
	        </section>

			<section id="categories">
		        <div class="container">
		            <div class="row">
		                <div class="col">
		                    <div class="card-header">
		                        <h4>&nbsp;</h4>
		                    </div>
		                    <table class="table table-striped">
		                        <thead class="thead-inverse">
		                            <tr>
		                                <th>#</th>
		                                <th>Tên nhãn</th>
		                            </tr>
		                        </thead>
		                        <tbody>
								{{#each this.tags}}
		                        <tr>
		                            <td scope="row">{{Id}}</td>
		                            <td>{{Name}}</td>
		                            <td>
		                                <a href="/admin-tags/edit/{{Id}}" class="btn btn-primary btn-sm" >
		                                   <i class="fa fa-edit"></i>
		                                </a>	
		                            </td>
		                        </tr>
								{{/each}}
		                        </tbody>
		                    </table>
		                    <br><br>
		                    <nav class="ml-4">
		                        <ul class="pagination">
									{{#each this.pages}}
									{{#if active}}
									<li class="page-item active" aria-current="page">
										<a class="page-link" href="javascript:;">{{value}} <span class="sr-only">(current)</span></a>
									</li>
									{{else}}
									<li class="page-item">
										<a class="page-link" href="?page={{value}}">{{value}}</a>
									</li>
									{{/if}}
									{{/each}}
		                        </ul>
		                    </nav>

		                </div>
		            </div>
		        </div>
		    </section>
		</div>
	</div>
	<!--/.main-->

	<script src="../../../js/jquery-1.11.1.min.js"></script>
	<script src="../../../js/bootstrap.min.js"></script>
	<script src="../../../js/chart.min.js"></script>
	<script src="../../../js/chart-data.js"></script>
	<script src="../../../js/easypiechart.js"></script>
	<script src="../../../js/easypiechart-data.js"></script>
	<script src="../../../js/bootstrap-datepicker.js"></script>
	<script src="../../../js/custom.js"></script>
	
</body>
</html>