<section id="entity_section" class="entity_section">
    <div class="container">
    <div class="row">
    <div class="col-md-8">
    <span>Tags:</span>
    <a href="/tags/{{this.detail.tagName1}}">#{{this.detail.tagName1}}</a>
    <a href="/tags/{{this.detail.tagName2}}">#{{this.detail.tagName2}}</a>
    <div class="entity_wrapper">
        
        <br>
            <h1 style="font-size: 35px" class="the-article-title">{{this.detail.Title}}</h1>
            <span class="media-date"><a href="#">{{this.detail.Created_date}}</a>,  Người đăng: <a href="#">{{this.detail.Author}}</a></span>
            <br>
        <br>
            {{{this.detail.Content}}}
    </div>
    <!-- entity_wrapper -->

            <div class="readers_comment">
        <div class="entity_inner__title header_purple">
            <h2>Bình luận</h2>
        </div>
        <!-- entity_title -->
        {{#each this.comments}}
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img alt="64x64" class="media-object" data-src="/img/reader_img1.jpg"
                         src="/img/reader_img1.jpg" data-holder-rendered="true">
                </a>
            </div>
            <div class="media-body">
                <h2 class="media-heading"><a href="#">{{cmName}}</a></h2>
                <p>Ngày đăng: {{cmCreate_date}}</p>

                <p style="font-size: 20px">{{cmContent}}</p>

                <div class="entity_vote">
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
                    {{!-- <a href="#"><span class="reply_ic">Reply </span></a> --}}
                </div>
                {{!-- <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img alt="64x64" class="media-object" data-src="/img/reader_img2.jpg"
                                 src="/img/reader_img2.jpg" data-holder-rendered="true">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading"><a href="#">Admin</a></h2>
                        But who has any right to find fault with a man who chooses to enjoy a pleasure
                        that has no annoying consequences, or one who avoids a pain that produces no
                        resultant pleasure?
    
                        <div class="entity_vote">
                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
                            <a href="#"><span class="reply_ic">Reply </span></a>
                        </div>
                    </div>
                </div> --}}
            </div>
    
        </div>
        {{/each}}
        <!-- media end -->
    
        {{!-- <div class="media">
            <div class="media-left">
                <a href="#">
                    <img alt="64x64" class="media-object" data-src="/img/reader_img3.jpg"
                         src="/img/reader_img3.jpg" data-holder-rendered="true">
                </a>
            </div>
            <div class="media-body">
                <h2 class="media-heading"><a href="#">S. Joshep</a></h2>
                But who has any right to find fault with a man who chooses to enjoy a pleasure that has
                no annoying consequences, or one who avoids a pain that produces no resultant pleasure?
    
                <div class="entity_vote">
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
                    <a href="#"><span class="reply_ic">Reply </span></a>
                </div>
            </div>
        </div>
        <!-- media end --> --}}
    </div>
    <!--Readers Comment-->
    
    <div class="entity_comments">
        <div class="entity_inner__title header_black">
            <h2>Thêm bình luận</h2>
        </div>
        <!--Entity Title -->
    
        <div class="entity_comment_from">
            <form novalidate method="POST" action="/categories/comment">
                <div class="form-group comment">
                    <textarea name="comment" class="form-control" id="inputComment" placeholder="Nội dung"></textarea>
                </div>
                <textarea name="id" hidden>{{this.detail.Id}}</textarea>
                <textarea name="link" hidden>/categories/{{this.detail.Name}}/{{this.detail.Id}}</textarea>
                <button type="submit" class="btn btn-submit red">Bình luận</button>
            </form>
        </div>
        <!--Entity Comments From -->
    
    </div>
    <!--Entity Comments -->
    
    <div class="related_news">
        <div class="entity_inner__title header_purple">
            <h2><a href="#">Bài viết liên quan</a></h2>
        </div>
        <!-- entity_title -->
    
        <div class="row">
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left">
                        <a href="/categories/{{this.detail.Name}}/{{this.category1.Id}}"><img style="width: 150px; height: 150px" class="media-object" src="{{this.category1.Thumbnail}}"
                                         alt="Generic placeholder image"></a>
                    </div>
                    <div class="media-body">
                        <span class="tag purple"><a href="#" target="_self">{{this.category1.Name}}</a></span>
    
                        <h3 class="media-heading">
                            <a href="/categories/{{this.detail.Name}}/{{this.category1.Id}}" target="_self">{{this.category1.Title}}</a>
                        </h3>
                        <span class="media-date"><a href="#">{{this.category1.Created_date}}</a>,  Người đăng: <a href="#">{{this.category1.Author}}</a></span>
    
                        <div class="media_social">
                            <span><a href="#"><i class="fa fa-share-alt"></i>{{this.category1.Count_Like}}</a> Like</span>
                            <span><a href="#"><i class="fa fa-comments-o"></i>4</a> Comments</span>
                        </div>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="/categories/{{this.detail.Name}}/{{this.category2.Id}}"><img style="width: 150px; height: 150px" class="media-object" src="{{this.category2.Thumbnail}}"
                                         alt="Generic placeholder image"></a>
                    </div>
                    <div class="media-body">
                        <span class="tag purple"><a href="categories" target="_self">{{this.category2.Name}}</a></span>
    
                        <h3 class="media-heading"><a href="/categories/{{this.detail.Name}}/{{this.category2.Id}}" target="_self">{{this.category2.Title}}</a></h3>
                        <span class="media-date"><a href="#">{{this.category2.Created_date}}</a>,  by: <a href="#">{{this.category2.Author}}</a></span>
    
                        <div class="media_social">
                            <span><a href="#"><i class="fa fa-share-alt"></i>{{this.category2.Count_Like}}</a> Like</span>
                            <span><a href="#"><i class="fa fa-comments-o"></i>4</a> Comments</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left">
                        <a href="/categories/{{this.detail.Name}}/{{this.category3.Id}}"><img style="width: 150px; height: 150px" class="media-object" src="{{this.category3.Thumbnail}}"
                                         alt="Generic placeholder image"></a>
                    </div>
                    <div class="media-body">
                        <span class="tag purple"><a href="categories" target="_self">{{this.category3.Name}}</a></span>
    
                        <h3 class="media-heading"><a href="/categories/{{this.detail.Name}}/{{this.category3.Id}}" target="_self">{{this.category3.Title}}</a></h3>
                        <span class="media-date"><a href="#">{{this.category3.Created_date}}</a>,  Người đăng: <a href="#">{{this.category3.Author}}</a></span>
    
                        <div class="media_social">
                            <span><a href="#"><i class="fa fa-share-alt"></i>{{this.category3.Count_Like}}</a> Like</span>
                            <span><a href="#"><i class="fa fa-comments-o"></i>4</a> Comments</span>
                        </div>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="/categories/{{this.detail.Name}}/{{this.category4.Id}}"><img style="width: 150px; height: 150px" class="media-object" src="{{this.category4.Thumbnail}}"
                                         alt="Generic placeholder image"></a>
                    </div>
                    <div class="media-body">
                        <span class="tag purple"><a href="categories" target="_self">{{this.category4.Name}}</a></span>
                        <a href="/categories/{{this.detail.Name}}/{{this.category4.Id}}" target="_self"><h3 class="media-heading">{{this.category4.Title}}</h3></a>
                        <span class="media-date"><a href="#">{{this.category4.Created_date}}</a>,  Người đăng: <a href="#">{{this.category4.Author}}</a></span>
    
                        <div class="media_social">
                            <span><a href="#"><i class="fa fa-share-alt"></i>{{this.category4.Count_Like}}</a> Like</span>
                            <span><a href="#"><i class="fa fa-comments-o"></i>4</a> Comments</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="media">
                    <div class="media-left">
                        <a href="/categories/{{this.detail.Name}}/{{this.category5.Id}}"><img style="width: 150px; height: 150px" class="media-object" src="{{this.category5.Thumbnail}}"
                                         alt="Generic placeholder image"></a>
                    </div>
                    <div class="media-body">
                        <span class="tag purple"><a href="categories" target="_self">{{this.category5.Name}}</a></span>
    
                        <h3 class="media-heading"><a href="/categories/{{this.detail.Name}}/{{this.category5.Id}}" target="_self">{{this.category5.Title}}</a></h3>
                        <span class="media-date"><a href="#">{{this.category5.Created_date}}</a>,  Người đăng: <a href="#">{{this.category5.Author}}</a></span>
    
                        <div class="media_social">
                            <span><a href="#"><i class="fa fa-share-alt"></i>{{this.category5.Count_Like}}</a> Like</span>
                            <span><a href="#"><i class="fa fa-comments-o"></i>4</a> Comments</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Related news -->
    
    
    </div>
    <!--Left Section-->
    
    <div class="col-md-4">
    <div class="widget">
        <div class="widget_title widget_black">
            <h2><a href="#">News Post</a></h2>
        </div>
        
        {{#each this.newPost}}
        <div class="media">
            <div class="media-left">
                <a href="/categories/{{Name}}/{{Id}}"><img style="width: 100px; height: 100px" class="media-object" src="{{Thumbnail}}" alt="Generic placeholder image"></a>
            </div>
            <div class="media-body">

                <span class="tag orange">{{Name}}</span>

                <h3 class="media-heading">
                    <a href="/categories/{{Name}}/{{Id}}" target="_self">{{Title}}</a>
                </h3> <span class="media-date"><a href="#">{{Created_date}}</a>,  Người đăng: <a href="#">{{Author}}</a></span>

                <div class="widget_article_social">
                    <span>
                        <a href="#" target="_self"> <i class="fa fa-share-alt"></i>{{Count_Like}}</a> Like
                    </span> 
                    <span>
                        <a href="#" target="_self"><i class="fa fa-comments-o"></i>4</a> Bình luận
                    </span>
                </div>
            </div>
        </div>
    {{/each}}

        {{!-- <p class="widget_divider"><a href="#" target="_self">More News&nbsp;&raquo;</a></p> --}}
    </div>
    <!-- Popular News -->
    
    <div class="widget reviews m30">
        <div class="widget_title widget_black">
            <h2><a href="#">Top Category</a></h2>
        </div>
        
        <div class="media">
        <div class="media-left">
            <a href="/categories/Mobile/{{this.eachMobile.Id}}"><img style="width: 100px; height: 100px" class="media-object" src="{{this.eachMobile.Thumbnail}}" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag pink">Moblie</span>

            <h3 class="media-heading">
                <a href="/categories/Mobile/{{this.eachMobile.Id}}" target="_self">{{this.eachMobile.Title}}</a>
            </h3>
            <span class="media-date"><a href="#">{{this.eachMobile.Created_date}}</a>,  Người đăng: <a href="#">{{this.eachMobile.Author}}</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="#" target="_self"><i class="fa fa-share-alt"></i>{{this.eachMobile.Count_Like}}</a> Like
                </span> 
                <span>
                    <a href="#" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>    

    <div class="media">
        <div class="media-left">
            <a href="/categories/Laptop/{{this.eachLaptop.Id}}"><img style="width: 100px; height: 100px" class="media-object" src="{{this.eachLaptop.Thumbnail}}" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag pink">Laptop</span>

            <h3 class="media-heading">
                <a href="/categories/Mobile/{{this.eachLaptop.Id}}" target="_self">{{this.eachLaptop.Title}}</a>
            </h3>
            <span class="media-date"><a href="#">{{this.eachLaptop.Created_date}}</a>,  Người đăng: <a href="#">{{this.eachLaptop.Author}}</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="#" target="_self"><i class="fa fa-share-alt"></i>{{this.eachLaptop.Count_Like}}</a> Like
                </span> 
                <span>
                    <a href="#" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>

    <div class="media">
        <div class="media-left">
            <a href="/categories/AI/{{this.eachAI.Id}}"><img style="width: 100px; height: 100px" class="media-object" src="{{this.eachAI.Thumbnail}}" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag pink">AI</span>

            <h3 class="media-heading">
                <a href="/categories/AI/{{this.eachAI.Id}}" target="_self">{{this.eachAI.Title}}</a>
            </h3>
            <span class="media-date"><a href="#">{{this.eachAI.Created_date}}</a>,  Người đăng: <a href="#">{{this.eachAI.Author}}</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="#" target="_self"><i class="fa fa-share-alt"></i>{{this.eachAI.Count_Like}}</a> Like
                </span> 
                <span>
                    <a href="#" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>    

    <div class="media">
        <div class="media-left">
            <a href="/categories/Camera/{{this.eachCamera.Id}}"><img style="width: 100px; height: 100px" class="media-object" src="{{this.eachCamera.Thumbnail}}" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag pink">Camera</span>

            <h3 class="media-heading">
                <a href="/categories/Camera/{{this.eachCamera.Id}}" target="_self">{{this.eachCamera.Title}}</a>
            </h3>
            <span class="media-date"><a href="#">{{this.eachCamera.Created_date}}</a>,  Người đăng: <a href="#">{{this.eachCamera.Author}}</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="#" target="_self"><i class="fa fa-share-alt"></i>{{this.eachCamera.Count_Like}}</a> Like
                </span> 
                <span>
                    <a href="#" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>    

    <div class="media">
        <div class="media-left">
            <a href="/categories/Design/{{this.eachDesign.Id}}"><img style="width: 100px; height: 100px" class="media-object" src="{{this.eachDesign.Thumbnail}}" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag pink">Design</span>

            <h3 class="media-heading">
                <a href="/categories/Design/{{this.eachDesign.Id}}" target="_self">{{this.eachDesign.Title}}</a>
            </h3>
            <span class="media-date"><a href="#">{{this.eachDesign.Created_date}}</a>,  Người đăng: <a href="#">{{this.eachDesign.Author}}</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="#" target="_self"><i class="fa fa-share-alt"></i>{{this.eachDesign.Count_Like}}</a> Like
                </span> 
                <span>
                    <a href="#" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>    
        {{!-- <p class="widget_divider"><a href="#" target="_self">More News&nbsp;&raquo;</a></p> --}}
    </div>
    <!-- Reviews News -->
    
    </div>
    <!--Right Section-->
    
    </div>
    <!-- row -->
    
    </div>
    <!-- container -->
    
    </section>