<section id="entity_section" class="entity_section">
    <div class="container">
    <div class="row">
    <div class="col-md-8">


    <div class="entity_wrapper">
            {{{this.detail.Content}}}
    </div>
    <!-- entity_wrapper -->
    
    <div class="related_news">
        <div class="entity_inner__title header_purple">
            <h2><a href="#">Related News</a></h2>
        </div>
        <!-- entity_title -->
    
        <div class="row">
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left">
                        <a href="/categories/{{this.detail.Name}}/{{this.category1.Id}}"><img style="width: 150px; height: 150px" class="media-object" src="/img/cat-mobi-sm1.jpg"
                                         alt="Generic placeholder image"></a>
                    </div>
                    <div class="media-body">
                        <span class="tag purple"><a href="categories" target="_self">{{this.category1.Name}}</a></span>
    
                        <h3 class="media-heading">
                            <a href="/categories/{{this.detail.Name}}/{{this.category1.Id}}" target="_self">{{this.category1.Title}}</a>
                        </h3>
                        <span class="media-date"><a href="#">{{this.category1.Created_date}}</a>,  by: <a href="#">Eric joan</a></span>
    
                        <div class="media_social">
                            <span><a href="#"><i class="fa fa-share-alt"></i>{{this.category1.Count_Like}}</a> Like</span>
                            <span><a href="#"><i class="fa fa-comments-o"></i>4</a> Comments</span>
                        </div>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="/categories/{{this.detail.Name}}/{{this.category2.Id}}"><img style="width: 150px; height: 150px" class="media-object" src="/img/cat-mobi-sm3.jpg"
                                         alt="Generic placeholder image"></a>
                    </div>
                    <div class="media-body">
                        <span class="tag purple"><a href="categories" target="_self">{{this.category2.Name}}</a></span>
    
                        <h3 class="media-heading"><a href="/categories/{{this.detail.Name}}/{{this.category2.Id}}" target="_self">{{this.category2.Title}}</a></h3>
                        <span class="media-date"><a href="#">{{this.category2.Created_date}}</a>,  by: <a href="#">Eric joan</a></span>
    
                        <div class="media_social">
                            <span><a href="#"><i class="fa fa-share-alt"></i>{{this.category2.Count_Like}}</a> Like</span>
                            <span><a href="#"><i class="fa fa-comments-o"></i>4</a> Comments</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left">
                        <a href="/categories/{{this.detail.Name}}/{{this.category3.Id}}"><img style="width: 150px; height: 150px" class="media-object" src="/img/cat-mobi-sm2.jpg"
                                         alt="Generic placeholder image"></a>
                    </div>
                    <div class="media-body">
                        <span class="tag purple"><a href="categories" target="_self">{{this.category3.Name}}</a></span>
    
                        <h3 class="media-heading"><a href="/categories/{{this.detail.Name}}/{{this.category3.Id}}" target="_self">{{this.category3.Title}}</a></h3>
                        <span class="media-date"><a href="#">{{this.category3.Created_date}}</a>,  by: <a href="#">Eric joan</a></span>
    
                        <div class="media_social">
                            <span><a href="#"><i class="fa fa-share-alt"></i>{{this.category3.Count_Like}}</a> Like</span>
                            <span><a href="#"><i class="fa fa-comments-o"></i>4</a> Comments</span>
                        </div>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="/categories/{{this.detail.Name}}/{{this.category4.Id}}"><img style="width: 150px; height: 150px" class="media-object" src="/img/cat-mobi-sm4.jpg"
                                         alt="Generic placeholder image"></a>
                    </div>
                    <div class="media-body">
                        <span class="tag purple"><a href="categories" target="_self">{{this.category4.Name}}</a></span>
                        <a href="/categories/{{this.detail.Name}}/{{this.category4.Id}}" target="_self"><h3 class="media-heading">{{this.category4.Title}}</h3></a>
                        <span class="media-date"><a href="#">{{this.category4.Created_date}}</a>,  by: <a href="#">Eric joan</a></span>
    
                        <div class="media_social">
                            <span><a href="#"><i class="fa fa-share-alt"></i>{{this.category4.Count_Like}}</a> Like</span>
                            <span><a href="#"><i class="fa fa-comments-o"></i>4</a> Comments</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="media">
                    <div class="media-left">
                        <a href="/categories/{{this.detail.Name}}/{{this.category5.Id}}"><img style="width: 150px; height: 150px" class="media-object" src="/img/cat-mobi-sm1.jpg"
                                         alt="Generic placeholder image"></a>
                    </div>
                    <div class="media-body">
                        <span class="tag purple"><a href="categories" target="_self">{{this.category5.Name}}</a></span>
    
                        <h3 class="media-heading"><a href="/categories/{{this.detail.Name}}/{{this.category5.Id}}" target="_self">{{this.category5.Title}}</a></h3>
                        <span class="media-date"><a href="#">{{this.category5.Created_date}}</a>,  by: <a href="#">Eric joan</a></span>
    
                        <div class="media_social">
                            <span><a href="#"><i class="fa fa-share-alt"></i>{{this.category5.Count_Like}}</a> Like</span>
                            <span><a href="#"><i class="fa fa-comments-o"></i>4</a> Comments</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Related news -->
    
    <div class="readers_comment">
        <div class="entity_inner__title header_purple">
            <h2>Readers Comment</h2>
        </div>
        <!-- entity_title -->
    
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img alt="64x64" class="media-object" data-src="/img/reader_img1.jpg"
                         src="/img/reader_img1.jpg" data-holder-rendered="true">
                </a>
            </div>
            <div class="media-body">
                <h2 class="media-heading"><a href="#">Sr. Ryan</a></h2>
                But who has any right to find fault with a man who chooses to enjoy a pleasure that has
                no annoying consequences, or one who avoids a pain that produces no resultant pleasure?
    
                <div class="entity_vote">
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
                    <a href="#"><span class="reply_ic">Reply </span></a>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img alt="64x64" class="media-object" data-src="/img/reader_img2.jpg"
                                 src="/img/reader_img2.jpg" data-holder-rendered="true">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading"><a href="#">Admin</a></h2>
                        But who has any right to find fault with a man who chooses to enjoy a pleasure
                        that has no annoying consequences, or one who avoids a pain that produces no
                        resultant pleasure?
    
                        <div class="entity_vote">
                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
                            <a href="#"><span class="reply_ic">Reply </span></a>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
        <!-- media end -->
    
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img alt="64x64" class="media-object" data-src="/img/reader_img3.jpg"
                         src="/img/reader_img3.jpg" data-holder-rendered="true">
                </a>
            </div>
            <div class="media-body">
                <h2 class="media-heading"><a href="#">S. Joshep</a></h2>
                But who has any right to find fault with a man who chooses to enjoy a pleasure that has
                no annoying consequences, or one who avoids a pain that produces no resultant pleasure?
    
                <div class="entity_vote">
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></a>
                    <a href="#"><span class="reply_ic">Reply </span></a>
                </div>
            </div>
        </div>
        <!-- media end -->
    </div>
    <!--Readers Comment-->
    
    <div class="entity_comments">
        <div class="entity_inner__title header_black">
            <h2>Add a Comment</h2>
        </div>
        <!--Entity Title -->
    
        <div class="entity_comment_from">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="inputName" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                </div>
                <div class="form-group comment">
                    <textarea class="form-control" id="inputComment" placeholder="Comment"></textarea>
                </div>
    
                <button type="submit" class="btn btn-submit red">Submit</button>
            </form>
        </div>
        <!--Entity Comments From -->
    
    </div>
    <!--Entity Comments -->
    
    </div>
    <!--Left Section-->
    
    <div class="col-md-4">
    <div class="widget">
        <div class="widget_title widget_black">
            <h2><a href="#">News Post</a></h2>
        </div>
        
        {{#each this.newPost}}
        <div class="media">
            <div class="media-left">
                <a href="/categories/{{Name}}/{{Id}}"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right1.jpg" alt="Generic placeholder image"></a>
            </div>
            <div class="media-body">

                <span class="tag orange">{{Name}}</span>

                <h3 class="media-heading">
                    <a href="/categories/{{Name}}/{{Id}}" target="_self">{{Title}}</a>
                </h3> <span class="media-date"><a href="#">{{Created_date}}</a>,  Người đăng: <a href="#">Minh Trí</a></span>

                <div class="widget_article_social">
                    <span>
                        <a href="#" target="_self"> <i class="fa fa-share-alt"></i>{{Count_Like}}</a> Like
                    </span> 
                    <span>
                        <a href="#" target="_self"><i class="fa fa-comments-o"></i>4</a> Bình luận
                    </span>
                </div>
            </div>
        </div>
    {{/each}}

        <p class="widget_divider"><a href="#" target="_self">More News&nbsp;&raquo;</a></p>
    </div>
    <!-- Popular News -->
    
    <div class="widget reviews m30">
        <div class="widget_title widget_black">
            <h2><a href="#">Top Category</a></h2>
        </div>
        
        <div class="media">
        <div class="media-left">
            <a href="/categories/Mobile/{{this.eachMobile.Id}}"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right4.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag pink">Moblie</span>

            <h3 class="media-heading">
                <a href="/categories/Mobile/{{this.eachMobile.Id}}" target="_self">{{this.eachMobile.Title}}</a>
            </h3>
            <span class="media-date"><a href="#">{{this.eachMobile.Created_date}}</a>,  by: <a href="#">Eric joan</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="#" target="_self"><i class="fa fa-share-alt"></i>{{this.eachMobile.Count_Like}}</a> Like
                </span> 
                <span>
                    <a href="#" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>    

    <div class="media">
        <div class="media-left">
            <a href="/categories/Laptop/{{this.eachLaptop.Id}}"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right4.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag pink">Laptop</span>

            <h3 class="media-heading">
                <a href="/categories/Mobile/{{this.eachLaptop.Id}}" target="_self">{{this.eachLaptop.Title}}</a>
            </h3>
            <span class="media-date"><a href="#">{{this.eachLaptop.Created_date}}</a>,  by: <a href="#">Eric joan</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="#" target="_self"><i class="fa fa-share-alt"></i>{{this.eachLaptop.Count_Like}}</a> Like
                </span> 
                <span>
                    <a href="#" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>

    <div class="media">
        <div class="media-left">
            <a href="/categories/AI/{{this.eachAI.Id}}"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right4.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag pink">AI</span>

            <h3 class="media-heading">
                <a href="/categories/AI/{{this.eachAI.Id}}" target="_self">{{this.eachAI.Title}}</a>
            </h3>
            <span class="media-date"><a href="#">{{this.eachAI.Created_date}}</a>,  by: <a href="#">Eric joan</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="#" target="_self"><i class="fa fa-share-alt"></i>{{this.eachAI.Count_Like}}</a> Like
                </span> 
                <span>
                    <a href="#" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>    

    <div class="media">
        <div class="media-left">
            <a href="/categories/Camera/{{this.eachCamera.Id}}"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right4.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag pink">Camera</span>

            <h3 class="media-heading">
                <a href="/categories/Camera/{{this.eachCamera.Id}}" target="_self">{{this.eachCamera.Title}}</a>
            </h3>
            <span class="media-date"><a href="#">{{this.eachCamera.Created_date}}</a>,  by: <a href="#">Eric joan</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="#" target="_self"><i class="fa fa-share-alt"></i>{{this.eachCamera.Count_Like}}</a> Like
                </span> 
                <span>
                    <a href="#" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>    

    <div class="media">
        <div class="media-left">
            <a href="/categories/Design/{{this.eachDesign.Id}}"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right4.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag pink">Design</span>

            <h3 class="media-heading">
                <a href="/categories/Design/{{this.eachDesign.Id}}" target="_self">{{this.eachDesign.Title}}</a>
            </h3>
            <span class="media-date"><a href="#">{{this.eachDesign.Created_date}}</a>,  by: <a href="#">Eric joan</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="#" target="_self"><i class="fa fa-share-alt"></i>{{this.eachDesign.Count_Like}}</a> Like
                </span> 
                <span>
                    <a href="#" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>    

    <div class="media">
        <div class="media-left">
            <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right4.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag pink">Games</span>

            <h3 class="media-heading">
                <a href="detail" target="_self">Kodak Hi-Speed shutter double shot camera comming soon</a>
            </h3>
            <span class="media-date"><a href="#">10Aug- 2015</a>,  by: <a href="#">Eric joan</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="detail" target="_self"><i class="fa fa-share-alt"></i>424</a> Shares
                </span> 
                <span>
                    <a href="detail" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>    

    <div class="media">
        <div class="media-left">
            <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right4.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag pink">Cars</span>

            <h3 class="media-heading">
                <a href="detail" target="_self">Kodak Hi-Speed shutter double shot camera comming soon</a>
            </h3>
            <span class="media-date"><a href="#">10Aug- 2015</a>,  by: <a href="#">Eric joan</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="detail" target="_self"><i class="fa fa-share-alt"></i>424</a> Shares
                </span> 
                <span>
                    <a href="detail" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>    

    <div class="media">
        <div class="media-left">
            <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right4.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag pink">Smart Home</span>

            <h3 class="media-heading">
                <a href="detail" target="_self">Kodak Hi-Speed shutter double shot camera comming soon</a>
            </h3>
            <span class="media-date"><a href="#">10Aug- 2015</a>,  by: <a href="#">Eric joan</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="detail" target="_self"><i class="fa fa-share-alt"></i>424</a> Shares
                </span> 
                <span>
                    <a href="detail" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>    

    <div class="media">
        <div class="media-left">
            <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right4.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag pink">5G</span>

            <h3 class="media-heading">
                <a href="detail" target="_self">Kodak Hi-Speed shutter double shot camera comming soon</a>
            </h3>
            <span class="media-date"><a href="#">10Aug- 2015</a>,  by: <a href="#">Eric joan</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="detail" target="_self"><i class="fa fa-share-alt"></i>424</a> Shares
                </span> 
                <span>
                    <a href="detail" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>    

        <p class="widget_divider"><a href="#" target="_self">More News&nbsp;&raquo;</a></p>
    </div>
    <!-- Reviews News -->
    
    
    
    <div class="widget m30">
        <div class="widget_title widget_black">
            <h2><a href="#">Most Commented</a></h2>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="/img/pop_right1.jpg" alt="Generic placeholder image"></a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">
                    <a href="detail" target="_self">Máy ảnh Yasaki ra mắt máy ảnh chụp tốc độ cao chung mới.</a>
                </h3>
    
                <div class="media_social">
                    <span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
                </div>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="/img/pop_right2.jpg" alt="Generic placeholder image"></a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">
                    <a href="detail" target="_self">Samsung là điện thoại di động tốt nhất trên thị trường Android.</a>
                </h3>
    
                <div class="media_social">
                    <span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
                </div>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="/img/pop_right3.jpg" alt="Generic placeholder image"></a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">
                    <a href="detail" target="_self">Apple ra mắt đồng hồ đeo tay lấy ảnh làm trung tâm cho Android</a>
                </h3>
    
                <div class="media_social">
                    <span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
                </div>
            </div>
        </div>
        <div class="media">
            <div class="media-left">
                <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="/img/pop_right4.jpg" alt="Generic placeholder image"></a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">
                    <a href="detail" target="_self">DSLR là máy ảnh cũ nhất tại thời điểm này đọc thêm về các sản phẩm mới</a>
                </h3>
    
                <div class="media_social">
                    <span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
                </div>
            </div>
        </div>
        <p class="widget_divider"><a href="#" target="_self">More News&nbsp;&nbsp;&raquo; </a></p>
    </div>
    <!-- Most Commented News -->
    
    </div>
    <!--Right Section-->
    
    </div>
    <!-- row -->
    
    </div>
    <!-- container -->
    
    </section>