<section id="feature_news_section" class="feature_news_section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="feature_article_wrapper">
                    <div class="feature_article_img">
                        <img style="height: 500px" class="img-responsive top_static_article_img" src="img/feature-static1.jpg"
                             alt="feature-top">
                    </div>
                    <!-- feature_article_img -->

                    <div class="feature_article_inner">
                        <div class="tag_lg red"><a href="cotegories">TIN NÓNG</a></div>
                        <div class="feature_article_title">
                            <h1><a href="/categories/{{this.newspaper_TinNong.Name}}/{{this.newspaper_TinNong.Id}}" target="_self">{{this.newspaper_TinNong.Title}}</a></h1>
                        </div>
                        <!-- feature_article_title -->

                        <div class="feature_article_date"><a href="#" target="_self">Minh Trí,</a> <a href="#"
                            target="_self">{{this.newspaper_TinNong.Created_date}}</a></div>
                        <!-- feature_article_date -->

                        <div class="feature_article_content">
                            {{this.newspaper_TinNong.Summary}}
                        </div>
                        <!-- feature_article_content -->

                        <div class="article_social">
                            <span><i class="fa fa-share-alt"></i><a href="#">{{this.newspaper_TinNong.Count_Like}}</a>Like</span>
                            <span><i class="fa fa-comments-o"></i><a href="#">30</a>Bình luận</span>
                        </div>
                        <!-- article_social -->

                    </div>
                    <!-- feature_article_inner -->

                </div>
                <!-- feature_article_wrapper -->

            </div>
            <!-- col-md-7 -->

            <div class="col-md-5">
                <div class="feature_static_wrapper">
                    <div class="feature_article_img">
                        <img class="img-responsive" style="width:500px; height: 235px" src="img/feature-static1.jpg" alt="feature-top">
                    </div>
                    <!-- feature_article_img -->

                    <div class="feature_article_inner">
                        <div class="tag_lg purple"><a href="#">NỔI BẬT</a></div>
                        <div class="feature_article_title">
                            <h1><a href="/categories/{{this.newspaper_NoiBat1.Name}}/{{this.newspaper_NoiBat1.Id}}" target="_self">{{this.newspaper_NoiBat1.Title}}</a></h1>
                        </div>
                        <!-- feature_article_title -->

                        <div class="feature_article_date"><a href="#" target="_self">Minh Trí, </a> <a href="#"
                            target="_self">{{this.newspaper_NoiBat1.Created_date}}</a></div>
                        <!-- feature_article_date -->

                        <div class="feature_article_content">
                            {{this.newspaper_NoiBat1.Summary}}                        
                        </div>
                        <!-- feature_article_content -->

                        <div class="article_social">
                            <span><i class="fa fa-share-alt"></i><a href="#">{{this.newspaper_NoiBat1.Count_Like}}</a>Like</span>
                            <span><i class="fa fa-comments-o"></i><a href="#">10</a>Bình luận</span>
                        </div>
                        <!-- article_social -->

                    </div>
                    <!-- feature_article_inner -->

                </div>
                <!-- feature_static_wrapper -->

            </div>
            <!-- col-md-5 -->

            <div class="col-md-5">
                <div class="feature_static_last_wrapper">
                    <div class="feature_article_img">
                        <img class="img-responsive" style="width:500px; height: 235px" src="img/feature-static2.jpg" alt="feature-top">
                    </div>
                    <!-- feature_article_img -->

                    <div class="feature_article_inner">
                        <div class="tag_lg blue"><a href="#">NỔI BẬT</a></div>

                        <div class="feature_article_title">
                            <h1><a href="/categories/{{this.newspaper_NoiBat2.Name}}/{{this.newspaper_NoiBat2.Id}}" target="_self">{{this.newspaper_NoiBat2.Title}}</a></h1>
                        </div>
                        <!-- feature_article_title -->

                        <div class="feature_article_date"><a href="#" target="_self">Minh Trí</a>, <a href="#"
                            target="_self">{{this.newspaper_NoiBat2.Created_date}}</a></div>
                        <!-- feature_article_date -->

                        <div class="feature_article_content">
                            {{this.newspaper_NoiBat2.Summary}}
                        </div>
                        <!-- feature_article_content -->

                        <div class="article_social">
                            <span><i class="fa fa-share-alt"></i><a href="#">{{this.newspaper_NoiBat2.Count_Like}}</a>Like</span>
                            <span><i class="fa fa-comments-o"></i><a href="#">42</a>Bình luận</span>
                        </div>
                        <!-- article_social -->

                    </div>
                    <!-- feature_article_inner -->

                </div>
                <!-- feature_static_wrapper -->

            </div>
            <!-- col-md-5 -->

        </div>
        <!-- Row -->

    </div>
    <!-- container -->

</section>
<!-- Feature News Section -->

<section id="category_section" class="category_section">
<div class="container">
<div class="row">
<div class="col-md-8">
<div class="category_section mobile">
    <div class="article_title header_purple">
        <h2><a href="cotegories" target="_self">Mobile</a></h2>
    </div>
    <!----article_title------>
    <div class="category_article_wrapper">
        <div class="row">
            <div class="col-md-6">
                <div class="top_article_img">
                    <a href="/categories/Mobile/{{this.mobile0.Id}}" target="_self"><img style="width: 400px; height: 280px" class="img-responsive" src="img/feature-top.jpg" alt="feature-top">
                    </a>
                </div>
                <!----top_article_img------>
            </div>
            <div class="col-md-6">
                <span class="tag purple">Mobile</span>

                <div class="category_article_title">
                    <h2><a href="/categories/Mobile/{{this.mobile0.Id}}" target="_self"> {{this.mobile0.Title}}
                    </a></h2>
                </div>
                <!----category_article_title------>
                <div class="category_article_date"><a href="#">{{this.mobile0.Created_date}}</a>, Người đăng: <a href="#">Minh Trí</a></div>
                <!----category_article_date------>
                <div class="category_article_content">
                    {{this.mobile0.Summary}}
                </div>
                <!----category_article_content------>
                <div class="media_social">
                    <span><a href="#"><i class="fa fa-share-alt"></i>{{this.mobile0.Count_Like}}</a> Like</span>
                    <span><i class="fa fa-comments-o"></i><a href="#">1000</a> Bình luận</span>
                </div>
                <!----media_social------>
            </div>
        </div>
    </div>
    <div class="category_article_wrapper">
        <div class="row">
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left">
                        <a href="/categories/Mobile/{{this.mobile1.Id}}"><img style="width: 125px; height: 125px" class="media-object" src="img/cat-mobi-sm1.jpg"
                                         alt="Generic placeholder image"></a>
                    </div>
                    <div class="media-body">
                        <span class="tag purple">Mobile</span>

                        <h3 class="media-heading"><a href="/categories/Mobile/{{this.mobile1.Id}}" target="_self">{{this.mobile1.Title}}
                        </a></h3>
                        <span class="media-date"><a href="#">{{this.mobile1.Created_date}}</a>, Người đăng: <a href="#">Minh Trí</a></span>

                        <div class="media_social">
                            <span><a href="#"><i class="fa fa-share-alt"></i>{{this.mobile1.Count_Like}}</a> Like</span>
                            <span><a href="#"><i class="fa fa-comments-o"></i>40</a> Bình luận</span>
                        </div>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="/categories/Mobile/{{this.mobile2.Id}}"><img style="width: 125px; height: 125px" class="media-object" src="img/cat-mobi-sm3.jpg"
                                         alt="Generic placeholder image"></a>
                    </div>
                    <div class="media-body">
                        <span class="tag purple">Mobile</span>

                        <h3 class="media-heading"><a href="/categories/Mobile/{{this.mobile2.Id}}" target="_self">{{this.mobile2.Title}}                           
                        </a></h3>
                        <span class="media-date"><a href="#">{{this.mobile2.Created_date}} </a>, Người đăng: <a href="#">Minh Trí</a></span>

                        <div class="media_social">
                            <span><a href="#"><i class="fa fa-share-alt"></i>{{this.mobile2.Count_Like}} </a> Like</span>
                            <span><a href="#"><i class="fa fa-comments-o"></i>4</a> Bình luận</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="media">
                    <div class="media-left">
                        <a href="/categories/Mobile/{{this.mobile3.Id}}"><img style="width: 125px; height: 125px" class="media-object" src="img/cat-mobi-sm2.jpg"
                                         alt="Generic placeholder image"></a>
                    </div>
                    <div class="media-body">
                        <span class="tag purple">Mobile</span>

                        <h3 class="media-heading"><a href="/categories/Mobile/{{this.mobile3.Id}}" target="_self">{{this.mobile3.Title}} </a></h3>
                        <span class="media-date"><a href="#">{{this.mobile3.Created_date}}</a>,  Người đăng: <a href="#">Minh Trí</a></span>

                        <div class="media_social">
                            <span><a href="#"><i class="fa fa-share-alt"></i>{{this.mobile3.Count_Like}}</a> Like</span>
                            <span><a href="#"><i class="fa fa-comments-o"></i>12</a> Bình luận</span>
                        </div>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="/categories/Mobile/{{this.mobile4.Id}}"><img style="width: 125px; height: 125px" class="media-object" src="img/cat-mobi-sm4.jpg"
                                         alt="Generic placeholder image"></a>
                    </div>
                    <div class="media-body">
                        <span class="tag purple">Mobile</span>

                        <h3 class="media-heading"><a href="/categories/Mobile/{{this.mobile4.Id}}" target="_self">{{this.mobile4.Title}}</a></h3>
                        <span class="media-date"><a href="#">{{this.mobile4.Created_date}}</a>, Người đăng: <a href="#">Minh Trí</a></span>

                        <div class="media_social">
                            <span><a href="#"><i class="fa fa-share-alt"></i>{{this.mobile4.Count_Like}}</a> Like</span>
                            <span><a href="#"><i class="fa fa-comments-o"></i>4</a> Bình luận</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="divider"><a href="#">Xem thêm&nbsp;&raquo;</a></p>
</div>
<!-- Mobile News Section -->

<div class="category_section tablet">
    <div class="article_title header_pink">
        <h2><a href="cotegories" target="_self">Laptop</a></h2>
    </div>
    <!-- Mobile News Section -->

    <div class="category_article_wrapper">
        <div class="row">
            <div class="col-md-6">
                <div class="category_article_body">
                    <div class="top_article_img">
                        <a href="/categories/Laptop/{{this.laptop1.Id}}" target="_self"><img style="width: 410px; height: 270px" class="img-responsive" src="img/tab_top1.jpg"
                                                                   alt="feature-top">
                        </a>
                    </div>
                    <!-- top_article_img -->

                    <span class="tag pink">Laptop</span>

                    <div class="category_article_title">
                        <h2><a href="/categories/Laptop/{{this.laptop1.Id}}" target="_self">{{this.laptop1.Title}}
                        </a></h2>
                    </div>
                    <!-- category_article_title -->

                    <div class="article_date"><a href="#">{{this.laptop1.Created_date}}</a>, Người đăng:<a href="#">Minh Trí</a></div>
                    <!----article_date------>
                    <!-- article_date -->

                    <div class="category_article_content">
                        {{this.laptop1.Summary}}
                    </div>
                    <!-- category_article_content -->

                    <div class="media_social">
                        <span><a href="#"><i class="fa fa-share-alt"></i>{{this.laptop1.Count_Like}} </a> Like</span>
                        <span><i class="fa fa-comments-o"></i><a href="#">4</a> Bình luận</span>
                    </div>
                    <!-- media_social -->

                </div>
                <!-- category_article_body -->

            </div>
            <!-- col-md-6 -->

            <div class="col-md-6">
                <div class="category_article_body">
                    <div class="top_article_img">
                        <a href="/categories/Laptop/{{this.laptop2.Id}}" target="_self">
                            <img style="width: 410px; height: 270px" class="img-responsive" src="img/tab_top2.jpg" alt="feature-top">
                        </a>
                    </div>
                    <!-- top_article_img -->

                    <span class="tag pink">Laptop</span>

                    <div class="category_article_title">
                        <h2><a href="/categories/Laptop/{{this.laptop2.Id}}" target="_self">{{this.laptop2.Title}}</a>
                        </h2>
                    </div>
                    <!-- category_article_title -->

                    <div class="article_date"><a href="#">{{this.laptop2.Created_date}}</a>, Người đăng: <a href="#">Minh Trí</a></div>
                    <!----article_date------>
                    <!-- article_date -->

                    <div class="category_article_content">
                            {{this.laptop2.Summary}}
                    </div>
                    <!-- category_article_content -->

                    <div class="media_social">
                        <span><a href="#"><i class="fa fa-share-alt"></i>{{this.laptop2.Count_Like}} </a> Like</span>
                        <span><i class="fa fa-comments-o"></i><a href="#">4</a> Bình luận</span>
                    </div>
                    <!-- media_social -->

                </div>
                <!-- category_article_body -->

            </div>
            <!-- col-md-6 -->

        </div>
        <!-- row -->

    </div>
    <!-- category_article_wrapper -->

    <p class="divider"><a href="#">Xem thêm&nbsp;&raquo;</a></p>
</div>
<!-- Tablet News Section -->

<div class="category_section gadget">
    <div class="article_title header_black">
        <h2><a href="cotegories" target="_self">AI</a></h2>
    </div>
    <div class="category_article_wrapper">
        <div class="row">
            <div class="col-md-6">
                <div class="category_article_body">
                    <div class="top_article_img">
                        <a href="/categories/AI/{{this.ai1.Id}}" target="_self">
                            <img style="width: 410px; height: 270px" class="img-responsive" src="img/gad_top1.jpg" alt="feature-top">
                        </a>
                    </div>
                    <!-- top_article_img -->

                    <span class="tag black">AI</span>

                    <div class="category_article_title">
                        <h2><a href="/categories/AI/{{this.ai1.Id}}" target="_self">{{this.ai1.Title}}</a>
                        </h2>
                    </div>
                    <!-- category_article_title -->

                    <div class="article_date"><a href="#">{{this.ai1.Created_date}}</a>, Người đăng: <a href="#">Minh Trí</a></div>
                    <!----article_date------>
                    <div class="category_article_content">
                        {{this.ai1.Summary}}
                    </div>
                    <!-- category_article_content -->

                    <div class="media_social">
                        <span><a href="#"><i class="fa fa-share-alt"></i>{{this.ai1.Count_Like}} </a> Like</span>
                        <span><i class="fa fa-comments-o"></i><a href="#">4</a> Bình luận</span>
                    </div>
                    <!-- media_social -->

                </div>
                <!-- category_article_body -->

                <div class="category_article_list">
                    <div class="media">
                        <div class="media-left">
                            <a href="/categories/AI/{{this.ai2.Id}}">
                                <img style="width: 125px; height: 125px" class="media-object" src="img/cat-mobi-sm1.jpg"
                                             alt="Generic placeholder image"></a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading"><a href="/categories/AI/{{this.ai2.Id}}" target="_self">{{this.ai2.Title}}</a></h3>
                            <span class="media-date"><a href="#">{{this.ai2.Created_date}}</a>,  Người đăng: <a href="#">Minh Trí</a></span>

                            <div class="media_social">
                                <span><a href="#"><i class="fa fa-share-alt"></i>{{this.ai2.Count_Like}}</a> Like</span>
                                <span><a href="#"><i class="fa fa-comments-o"></i>4</a> Bình luận</span>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="/categories/AI/{{this.ai3.Id}}">
                                <img style="width: 125px; height: 125px" class="media-object" src="img/cat-mobi-sm3.jpg"
                                             alt="Generic placeholder image"></a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading"><a href="/categories/AI/{{this.ai3.Id}}" target="_self">{{this.ai3.Title}}</a></h3>
                            <span class="media-date"><a href="#">{{this.ai3.Created_date}}</a>,  Người đăng: <a href="#">Minh Trí</a></span>

                            <div class="media_social">
                                <span><a href="#"><i class="fa fa-share-alt"></i>{{this.ai3.Count_Like}}</a> CLike</span>
                                <span><a href="#"><i class="fa fa-comments-o"></i>4</a> Bình luận</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- category_article_list -->

            </div>
            <!-- col-md-6 -->

            <div class="col-md-6">
                <div class="category_article_body">
                    <div class="top_article_img">
                        <img style="width: 410px; height: 400px" class="img-responsive" src="img/gad_top2.jpg" alt="feature-top">
                    </div>
                    <!-- top_article_img -->

                    <span class="tag black">AI</span>

                    <div class="category_article_title">
                        <h2><a href="/categories/AI/{{this.ai4.Id}}" target="_self">{{this.ai4.Title}}</a></h2>
                    </div>
                    <!-- category_article_title -->

                    <div class="article_date"><a href="#">{{this.ai4.Created_date}}</a>, Người đăng: <a href="#">Minh Trí</a></div>
                    <!-- article_date -->

                    <div class="category_article_content">
                        {{this.ai4.Summary}}
                    </div>
                    <!-- category_article_content -->

                    <div class="article_social">
                        <span><i class="fa fa-share-alt"></i><a href="#">{{this.ai4.Count_Like}}</a>Like</span>
                        <span><i class="fa fa-comments-o"></i><a href="#">4</a>Bình luận</span>
                    </div>
                    <!-- article_social -->

                </div>
                <!-- category_article_body -->
            </div>
        </div>
        <!-- row -->

    </div>
    <!-- category_article_wrapper -->

    <p class="divider"><a href="#">Xêm thêm&nbsp;&raquo;</a></p>
</div>
<!-- Gadget News Section -->

<div class="category_section camera">
    <div class="article_title header_orange">
        <h2><a href="cotegories" target="_self">Camera</a></h2>
    </div>
    <!-- article_title -->

    <div class="category_article_wrapper">
        <div class="row">
            <div class="col-md-5">
                <div class="top_article_img">
                    <a href="/categories/Camera/{{this.camera1.Id}}" target="_self">
                        <img style="height: 200px" class="img-responsive" src="img/cam_left1.jpg" alt="feature-top">
                    </a>
                </div>
                <!-- top_article_img -->

            </div>
            <div class="col-md-7">
                <span class="tag orange">Camera</span>

                <div class="category_article_title">
                    <h2><a href="/categories/Camera/{{this.camera1.Id}}" target="_self">
                        {{this.camera1.Title}}
                    </a></h2>
                </div>
                <!-- category_article_title -->

                <div class="article_date"><a href="#">{{this.camera1.Created_date}}</a>, Người đăng: <a href="#">Minh Trí</a></div>
                <!----article_date------>
                <!-- category_article_wrapper -->

                <div class="category_article_content">
                    {{this.camera1.Summary}}
                </div>
                <!-- category_article_content -->

                <div class="media_social">
                    <span><a href="#"><i class="fa fa-share-alt"></i>{{this.camera1.Count_Like}} </a> Like</span>
                    <span><i class="fa fa-comments-o"></i><a href="#">4</a> Bình luận</span>
                </div>
                <!-- media_social -->

            </div>
            <!-- col-md-7 -->

        </div>
        <!-- row -->

    </div>
    <!-- category_article_wrapper -->

    <div class="category_article_wrapper">
        <div class="row">
            <div class="col-md-5">
                <div class="top_article_img">
                    <a href="/categories/Camera/{{this.camera2.Id}}" target="_self">
                        <img style="height: 200px" class="img-responsive" src="img/cam_left2.jpg" alt="feature-top">
                    </a>
                </div>
                <!-- top_article_img -->

            </div>
            <div class="col-md-7">
                <span class="tag orange">Camera</span>

                <div class="category_article_title">
                    <h2><a href="/categories/Camera/{{this.camera2.Id}}" target="_self">{{this.camera2.Title}} </a></h2>
                </div>
                <!-- category_article_title -->

                <div class="article_date"><a href="#">{{this.camera2.Created_date}}</a>, Người đăng: <a href="#">Minh Trí</a></div>
                <!----article_date------>
                <!-- article_date -->

                <div class="category_article_content">
                    {{this.camera2.Summary}}
                </div>
                <!-- category_article_content -->

                <div class="media_social">
                    <span><a href="#"><i class="fa fa-share-alt"></i>{{this.camera2.Count_Like}} </a> Like</span>
                    <span><i class="fa fa-comments-o"></i><a href="#">4</a> Bình luận</span>
                </div>
                <!-- media_social -->

            </div>
        </div>
    </div>
    <!-- category_article_wrapper -->

    <div class="category_article_wrapper">
        <div class="row">
            <div class="col-md-5">
                <div class="top_article_img">
                    <a href="/categories/Camera/{{this.camera3.Id}}" target="_self">
                        <img style="height: 200px" class="img-responsive" src="img/cam_left3.jpg" alt="feature-top">
                    </a>
                </div>
                <!-- media_social -->

            </div>
            <div class="col-md-7">
                <span class="tag orange"><a href="detail" target="_self">Camera</a></span>

                <div class="category_article_title">
                    <h2><a href="/categories/Camera/{{this.camera3.Id}}" target="_self">{{this.camera3.Title}}</a></h2>
                </div>
                <!-- category_article_title -->

                <div class="article_date"><a href="#">{{this.camera3.Created_date}}</a>, Người đăng: <a href="#">Minh Trí</a></div>
                <!----article_date------>
                <!-- article_date -->

                <div class="category_article_content">
                    {{this.camera3.Summary}}
                </div>
                <!-- category_article_content -->

                <div class="media_social">
                                    <span>
                                        <a href="#">
                                            <i class="fa fa-share-alt"></i>{{this.camera3.Count_Like}}
                                        </a> Like
                                    </span>
                                    <span>
                                        <a href="#">
                                            <i class="fa fa-comments-o"></i>4
                                        </a> Bình luận
                                    </span>
                </div>
                <!-- media_social -->

            </div>
            <!-- col-md-7 -->

        </div>
        <!-- row -->

    </div>
    <!-- category_article_wrapper -->

    <p class="divider"><a href="#">Xem thêm&nbsp;&raquo;</a></p>
</div>
<!-- Camera News Section -->

<div class="category_section design">
    <div class="article_title header_blue">
        <h2><a href="cotegories" target="_self">Design</a></h2>
    </div>
    <!-- row -->

    <div class="category_article_wrapper">
        <div class="row">
            <div class="col-md-6">
                <div class="category_article_body">
                    <div class="top_article_img">
                        <a href="/categories/Design/{{this.design1.Id}}" target="_self">
                            <img style="height: 275px" class="img-responsive" src="img/design_top1.jpg" alt="feature-top">
                        </a>
                    </div>
                    <!-- top_article_img -->

                    <span class="tag blue"><a href="cotegories" target="_self">Design</a></span>

                    <div class="category_article_title">
                        <h2><a href="/categories/Design/{{this.design1.Id}}" target="_self">{{this.design1.Title}} </a></h2>
                    </div>
                    <!-- category_article_title -->

                    <div class="category_article_date"><a href="#">{{this.design1.Created_date}}</a>, by: <a href="#">Eric joan</a></div>
                    <!----category_article_date------>
                    <!-- category_article_date -->

                    <div class="category_article_content">
                        {{this.design1.Summary}}
                    </div>
                    <!-- category_article_content -->

                    <div class="media_social">
                        <span><a href="#"><i class="fa fa-share-alt"></i>{{this.design1.Count_Like}} </a> Like</span>
                        <span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
                    </div>
                    <!-- media_social -->

                </div>
                <!-- category_article_body -->

            </div>
            <!-- col-md-6 -->

            <div class="col-md-6">
                <div class="category_article_body">
                    <div class="top_article_img">
                        <a href="/categories/Design/{{this.design2.Id}}" target="_self">
                            <img style="height: 275px" class="img-responsive" src="img/design_top2.jpg" alt="feature-top">
                        </a>
                    </div>
                    <!-- top_article_img -->

                    <span class="tag blue"><a href="cotegories" target="_self">Design</a></span>

                    <div class="category_article_title">
                        <h2><a href="/categories/Design/{{this.design2.Id}}" target="_self">{{this.design2.Title}} </a></h2>
                    </div>
                    <!-- category_article_title -->

                    <div class="category_article_date"><a href="#">{{this.design2.Created_date}}</a>, by: <a href="#">Eric joan</a></div>
                    <!----category_article_date------>
                    <!-- category_article_date -->

                    <div class="category_article_content">
                        {{this.design2.Summary}}
                    </div>
                    <!-- category_article_content -->

                    <div class="media_social">
                        <span><a href="#"><i class="fa fa-share-alt"></i>{{this.design2.Count_Like}} </a> Like</span>
                        <span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
                    </div>
                    <!-- media_social -->

                </div>
                <!-- category_article_body -->

            </div>
            <!-- col-md-6 -->

        </div>
        <!-- row -->

    </div>
    <!-- category_article_wrapper -->

    <div class="category_article_wrapper">
        <div class="row">
            <div class="col-md-6">
                <div class="category_article_body">
                    <div class="top_article_img">
                        <a href="/categories/Design/{{this.design3.Id}}" target="_self">
                            <img style="height: 275px" class="img-responsive" src="img/design_top3.jpg" alt="feature-top">
                        </a>
                    </div>
                    <!-- top_article_img -->

                    <span class="tag blue"><a href="cotegories" target="_self">Design</a></span>

                    <div class="category_article_title">
                        <h2><a href="/categories/Design/{{this.design3.Id}}" target="_self">{{this.design3.Title}}</a></h2>
                    </div>
                    <!-- category_article_title -->

                    <div class="category_article_date"><a href="#">{{this.design3.Created_date}}</a>, by: <a href="#">Eric joan</a></div>
                    <!----category_article_date------>
                    <!-- category_article_date -->

                    <div class="category_article_content">
                        {{this.design3.Summary}}
                    </div>
                    <!-- category_article_content -->

                    <div class="media_social">
                        <span><a href="#"><i class="fa fa-share-alt"></i>{{this.design3.Count_Like}} </a> Like</span>
                        <span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
                    </div>
                    <!-- media_social -->

                </div>
                <!-- category_article_body -->

            </div>
            <!-- col-md-6 -->

            <div class="col-md-6">
                <div class="category_article_body">
                    <div class="top_article_img">
                        <img style="height: 275px" class="img-responsive" src="img/design_top4.jpg" alt="feature-top">
                    </div>
                    <!-- top_article_img -->

                    <span class="tag blue"><a href="cotegories" target="_self">Design</a></span>

                    <div class="category_article_title">
                        <h2><a href="/categories/Design/{{this.design4.Id}}" target="_self">{{this.design4.Title}}</a></h2>
                    </div>
                    <!-- category_article_title -->

                    <div class="category_article_date"><a href="#">{{this.design4.Created_date}}</a>, by: <a href="#">Eric joan</a></div>
                    <!-- category_article_date -->

                    <div class="category_article_content">
                        {{this.design4.Summary}}
                    </div>
                    <!-- category_article_content -->

                    <div class="media_social">
                        <span><a href="#"><i class="fa fa-share-alt"></i>{{this.design4.Count_Like}} </a> Like</span>
                        <span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
                    </div>
                    <!-- media_social -->

                </div>
                <!-- category_article_body -->

            </div>
            <!-- top_article_img -->

        </div>
        <!-- top_article_img -->

    </div>
    <!-- top_article_img -->

    <p class="divider"><a href="#">More News&nbsp;&raquo;</a></p>
</div>
<!-- Design News Section -->
</div>
<!-- Left Section -->

<div class="col-md-4">
<div class="widget">
    <div class="widget_title widget_black">
        <h2><a href="#">New posts</a></h2>
    </div>

    {{!-- {{#each this.newPost}}
    <div class="media">
        <div class="media-left">
            <a href="/categories/{{Name}}/{{Id}}"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right1.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag orange">{{Name}}</span>

            <h3 class="media-heading">
                <a href="/categories/{{Name}}/{{Id}}" target="_self">{{Title}}</a>
            </h3> <span class="media-date"><a href="#">{{Created_date}}</a>,  Người đăng: <a href="#">Minh Trí</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="#" target="_self"> <i class="fa fa-share-alt"></i>{{Count_Like}}</a> Like
                </span> 
                <span>
                    <a href="#" target="_self"><i class="fa fa-comments-o"></i>4</a> Bình luận
                </span>
            </div>
        </div>
    </div>
    {{/each}} --}}
    

    <p class="widget_divider"><a href="#" target="_self">Xem thêm&nbsp;&raquo;</a></p>
</div>
<!-- Popular News -->


<!-- Advertisement -->

<!-- Advertisement -->


<div class="widget reviews m30">
    <div class="widget_title widget_black">
        <h2><a href="#">Top category</a></h2>
    </div>

    <div class="media">
        <div class="media-left">
            <a href="/categories/Mobile/{{this.eachMobile.Id}}"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right4.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag pink">Moblie</span>

            <h3 class="media-heading">
                <a href="/categories/Mobile/{{this.eachMobile.Id}}" target="_self">{{this.eachMobile.Title}}</a>
            </h3>
            <span class="media-date"><a href="#">{{this.eachMobile.Created_date}}</a>,  by: <a href="#">Eric joan</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="#" target="_self"><i class="fa fa-share-alt"></i>{{this.eachMobile.Count_Like}}</a> Like
                </span> 
                <span>
                    <a href="#" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>    

    <div class="media">
        <div class="media-left">
            <a href="/categories/Laptop/{{this.eachLaptop.Id}}"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right4.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag pink">Laptop</span>

            <h3 class="media-heading">
                <a href="/categories/Laptop/{{this.eachLaptop.Id}}" target="_self">{{this.eachLaptop.Title}}</a>
            </h3>
            <span class="media-date"><a href="#">{{this.eachLaptop.Created_date}}</a>,  by: <a href="#">Eric joan</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="#" target="_self"><i class="fa fa-share-alt"></i>{{this.eachLaptop.Count_Like}}</a> Like
                </span> 
                <span>
                    <a href="#" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>

    <div class="media">
        <div class="media-left">
            <a href="/categories/AI/{{this.eachAI.Id}}"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right4.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag pink">AI</span>

            <h3 class="media-heading">
                <a href="/categories/AI/{{this.eachAI.Id}}" target="_self">{{this.eachAI.Title}}</a>
            </h3>
            <span class="media-date"><a href="#">{{this.eachAI.Created_date}}</a>,  by: <a href="#">Eric joan</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="#" target="_self"><i class="fa fa-share-alt"></i>{{this.eachAI.Count_Like}}</a> Like
                </span> 
                <span>
                    <a href="#" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>    

    <div class="media">
        <div class="media-left">
            <a href="/categories/Camera/{{this.eachCamera.Id}}"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right4.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag pink">Camera</span>

            <h3 class="media-heading">
                <a href="/categories/Camera/{{this.eachCamera.Id}}" target="_self">{{this.eachCamera.Title}}</a>
            </h3>
            <span class="media-date"><a href="#">{{this.eachCamera.Created_date}}</a>,  by: <a href="#">Eric joan</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="#" target="_self"><i class="fa fa-share-alt"></i>{{this.eachCamera.Count_Like}}</a> Like
                </span> 
                <span>
                    <a href="#" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>    

    <div class="media">
        <div class="media-left">
            <a href="/categories/Design/{{this.eachDesign.Id}}"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right4.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag pink">Design</span>

            <h3 class="media-heading">
                <a href="/categories/Design/{{this.eachDesign.Id}}" target="_self">{{this.eachDesign.Title}}</a>
            </h3>
            <span class="media-date"><a href="#">{{this.eachDesign.Created_date}}</a>,  by: <a href="#">Eric joan</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="#" target="_self"><i class="fa fa-share-alt"></i>{{this.eachDesign.Count_Like}}</a> Like
                </span> 
                <span>
                    <a href="#" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>    

    <div class="media">
        <div class="media-left">
            <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right4.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag pink">Games</span>

            <h3 class="media-heading">
                <a href="detail" target="_self">Kodak Hi-Speed shutter double shot camera comming soon</a>
            </h3>
            <span class="media-date"><a href="#">10Aug- 2015</a>,  by: <a href="#">Eric joan</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="detail" target="_self"><i class="fa fa-share-alt"></i>424</a> Shares
                </span> 
                <span>
                    <a href="detail" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>    

    <div class="media">
        <div class="media-left">
            <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right4.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag pink">Cars</span>

            <h3 class="media-heading">
                <a href="detail" target="_self">Kodak Hi-Speed shutter double shot camera comming soon</a>
            </h3>
            <span class="media-date"><a href="#">10Aug- 2015</a>,  by: <a href="#">Eric joan</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="detail" target="_self"><i class="fa fa-share-alt"></i>424</a> Shares
                </span> 
                <span>
                    <a href="detail" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>    

    <div class="media">
        <div class="media-left">
            <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right4.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag pink">Smart Home</span>

            <h3 class="media-heading">
                <a href="detail" target="_self">Kodak Hi-Speed shutter double shot camera comming soon</a>
            </h3>
            <span class="media-date"><a href="#">10Aug- 2015</a>,  by: <a href="#">Eric joan</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="detail" target="_self"><i class="fa fa-share-alt"></i>424</a> Shares
                </span> 
                <span>
                    <a href="detail" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>    

    <div class="media">
        <div class="media-left">
            <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right4.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">

            <span class="tag pink">5G</span>

            <h3 class="media-heading">
                <a href="detail" target="_self">Kodak Hi-Speed shutter double shot camera comming soon</a>
            </h3>
            <span class="media-date"><a href="#">10Aug- 2015</a>,  by: <a href="#">Eric joan</a></span>

            <div class="widget_article_social">
                <span>
                    <a href="detail" target="_self"><i class="fa fa-share-alt"></i>424</a> Shares
                </span> 
                <span>
                    <a href="detail" target="_self"><i class="fa fa-comments-o"></i>4</a> Comments
                </span>
            </div>
        </div>
    </div>    

    <p class="widget_divider"><a href="#" target="_self">Xem thêm&nbsp;&raquo;</a></p>
</div>
<!-- Reviews News -->

<!-- Advertisement -->

<!-- Advertisement -->

<div class="widget m30">
    <div class="widget_title widget_black">
        <h2><a href="#">View most</a></h2>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right1.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">
            <h3 class="media-heading">
                <a href="detail" target="_self">Yasaki camera launches new generic hi-speed shutter camera.</a>
            </h3>

            <div class="media_social">
                <span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
            </div>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right2.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">
            <h3 class="media-heading">
                <a href="detail" target="_self">Samsung is the best mobile in the android market.</a>
            </h3>

            <div class="media_social">
                <span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
            </div>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right3.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">
            <h3 class="media-heading">
                <a href="detail" target="_self">Apple launches photo-centric wrist watch for Android</a>
            </h3>

            <div class="media_social">
                <span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
            </div>
        </div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#"><img style="width: 100px; height: 100px" class="media-object" src="img/pop_right4.jpg" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">
            <h3 class="media-heading">
                <a href="detail" target="_self">DSLR is the most old camera at this time readmore about new
                    products</a>
            </h3>

            <div class="media_social">
                <span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
            </div>
        </div>
    </div>
    <p class="widget_divider"><a href="#" target="_self">More News&nbsp;&nbsp;&raquo; </a></p>
</div>
<!-- Most Commented News -->

</div>
<!-- Right Section -->

</div>
<!-- Row -->

</div>
<!-- Container -->

</section>
<!-- Category News Section -->
